/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Font */

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* CSS */

body {
    display: flex;
}

.background-section {
    width: 500px;
}

input {
  border: 1px solid #E5E7EB;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.25);
}

input:user-invalid {
  border-color: red;
}

.branding-panel {
  background-image: url(/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  min-width: 37vw;
  position: relative;
}

.signup-panel {
  min-height: 100vh;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.logo-img {
  width: 85px;
  height: 115px;
}

.logo-panel {
  position: absolute;
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
  margin-top: 200px;
  background: black;
  opacity: 0.6;
  color: white;
  font-family: 'Norse';
  font-size: 42px;
}

.signup-panel {
  font-family: system-ui, sans-serif;
  background-color: #f1f1f1;
}

.intro-section {
  font-size: 21px;
  font-weight: 700;
  width: 600px;
  margin-left: 50px;
}

.form-section {
  height: 250px;
  background-color: white;
}

form {
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}